<%- include('includes/header'); %>
    <h2>Skapa nytt dokument</h2>
    <form method="POST" action="/" class="new-doc">
        <label for="title">Titel</label>
        <input type="text" name="title" value="<%= docs && docs.title ? docs.title : 'Default Title' %>" />

        <label for="content">Innehåll</label>
        <textarea name="content"><%= docs && docs.content ? docs.content : 'Default Content' %></textarea>

        <input type="submit" value="Spara" />
    </form>
    <h3>Dokument</h3>
    <% docs.forEach(function(doc){ %>
        <h3><a href="/<%= doc.id %>"><%= doc.title %></a></h3>
    <% }); %>
<%- include('includes/footer'); %>
